<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Poke-dex</title>
    <nav class="navi_bar">
        <div class="navi_wrap_container">
            <div class="logo">Poke-dex</div>
            <ul class="navi_bar_menu">
                <li class="menu_item"><a>포켓몬</a></li>
                <li class="menu_item"><a>아이템</a></li>
                <li class="menu_item"><a>기술</a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
    <section class="search_tag_sec">
        <div class="search_sec">
            <div class="search_bar"></div>
        </div>
        <div class="tag_sec"></div>
    </section>
    <section class="main_card_scroll">

    </section>
</body>
</html>